# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

## Test/documentation

# Ignore all test and documentation with "export-ignore".
/.gitattributes     export-ignore
/.githooks          export-ignore
/.gitignore         export-ignore
/.travis.yml        export-ignore
/phpunit.xml.dist   export-ignore
/.scrutinizer.yml   export-ignore
/tests              export-ignore

## Line endings

### Automatic

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto eol=lf

### Text (should be normalized, convert crlf => lf)

# Source
*.php text eol=lf
*.css text eol=lf
*.sass text eol=lf
*.scss text eol=lf
*.less text eol=lf
*.styl text eol=lf
*.js text eol=lf
*.coffee text eol=lf
*.json text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.inc text eol=lf
*.pl text eol=lf
*.rb text eol=lf
*.py text eol=lf
*.scm text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.bat text eol=lf

# Templates
*.ejs text eol=lf
*.hbt text eol=lf
*.jade text eol=lf
*.haml text eol=lf
*.hbs text eol=lf
*.dot text eol=lf
*.tmpl text eol=lf
*.phtml text eol=lf

# App config
.env text eol=lf
.env.example text eol=lf

# Server config
.htaccess text eol=lf

# Git config
.gitattributes text eol=lf
.gitignore text eol=lf

# Code analysis config
.jshintrc text eol=lf
.jscsrc text eol=lf
.jshintignore text eol=lf
.csslintrc text eol=lf

# Misc config
*.yaml text eol=lf
*.yml text eol=lf
.editorconfig text eol=lf

# Build config
composer.lock text eol=lf
*.npmignore text eol=lf
*.bowerrc text eol=lf

# Heroku
Procfile text eol=lf
.slugignore text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf
AUTHORS text eol=lf

# Vagrant
Vagrantfile eol=lf

# Scripts
bin/* text eol=lf

### Binary (left untouched)

# (binary is a macro for -text -diff)
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.mov       binary
*.mp4       binary
*.mp3       binary
*.flv       binary
*.fla       binary
*.swf       binary
*.gz        binary
*.zip       binary
*.7z        binary
*.rar       binary
*.ttf       binary
*.eot       binary
*.woff      binary
*.woff2     binary
*.otf       binary
*.pyc       binary
*.pdf       binary

